.menu-div {
    z-index: 10;
    right: 10px;
    top: 10px;
    &.hide {
        display: none;
    }
    &.show {
        position: fixed;
        height: auto ;
        background-color: #1d2124;
        right: 10px;
        top: 50px;
        padding: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
    }
}
.btn-primary {
    width: 160px;
    background-color: #6c757d !important;
    border: none !important;
}
.btn-secondary {
    width: 160px;
    margin-top: 5px;
}
.monochrome {
    padding: 5px;
    color: white;
    border-radius: 5px;
    margin-top: 5px;
    height: 38px;
    width: 160px;
    font-size: 13px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    label {
        font-weight: bold;
        margin-left: 7px;
        margin-bottom: 0px;
    }
}