.office-div_ {
    min-height: 300px;
    height: auto;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    transform: scale(0.99);
    background-color: #1d2124;
    div {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        img {
            position: relative;
            float: left;
            width: 50px;
            height: auto;
        }
    }
    span {
        width: 100%;
        color: #fff;
        &.first {
            font-size: 20px;
            text-align: center;
        }
        &.second {
            position: absolute;
            top: 50%;
            left: 50%;
            width: 60%;
            transform: translate(-50%, -50%);
            font-size: 16px;
        }
    }
}